@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html, body {
  background: black;
}
html, body, #root, canvas {
  width: 100%;
  height: 100%;
  margin: 0;

}
body {
  height: 300vh;
  font-family: "Outfit", serif;
}

html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
#root {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}
.previous-section, .next-section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
}
.container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  
}
.feature-box span {
 color: white;
}
.feature-box img:nth-of-type(1) {
  width: 130px;
  position: relative;
  z-index: 2;
}
.feature-box img:nth-of-type(2) {
  filter: invert(1);
  width: 75px;
 
}
.feature-box {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
  width: 100%;
}
.autosize-container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}
.container__bloc-txt {
display: flex;
justify-content:flex-end;

}

.bloc-txt {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 100%;
  width: 50%;
  padding: 0 20px;
}
.surTitre {
  color: #878787;
  font-size: 20px;
font-weight: 500;
text-transform: uppercase;
overflow: hidden;
}
.surTitre span {
  display: block;
/* white-space: nowrap; */

}
.bloc-txt h2 {
  margin: 0;
  padding: 0;
  overflow: hidden;
  max-width: 580px;
  width: 100%;
  /* text-wrap: balance; */
}
.bloc-txt h2 span{
  color: #FFF;
font-size: 36px;
font-weight: 500;
display: block;
/* white-space: nowrap; */

}
.bloc-txt__p {
  font-size: 16px;
  color: #878787;
font-weight: 500;
line-height: 25px;
display: flex;
  flex-direction: column;
  gap: 5px;
}
.bloc-txt__p p {
  margin: 0;
  opacity: 0;
}
.bloc-txt a {
  border-radius: 8px;
background: #FFF;
padding: 15px;
color: #1D1D1F;
font-size: 16px;
font-weight: 600;
width: max-content;
text-decoration: none;
margin-top: 20px;
opacity: 0;
}

@media screen and (max-width : 1920px) {
  .autosize-container {
    max-width: 1280px;
  }
}

@media screen and (max-width : 1000px) {
  .container__bloc-txt {
    justify-content: center;
    height: 100dvh;
    max-width: 600px !important;
    padding: 40px 0;
    box-sizing: border-box;
  }
  .bloc-txt {
    justify-content: flex-start;
    width: 100%;
  }
  .bloc-txt h2 span {
    font-size: 24px;
  }
  .bloc-txt__p {
    font-size: 14px;
  }
  .surTitre {
    font-size: 16px;
  }
  #root {
    transform: translateY(25vh);
  }
  #root::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 50%, rgba(0,0,0,1) 100%); */
  }
}